.form-content {
  display: grid;
  gap: 1.25rem;
}

.form-check {
    padding: 0 !important;
    margin: 30px 0;
  .form-check-content {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 1.25rem;
    color: #10b981;
    font-weight: 600;
  }
}

