.form-content {
  display: grid;
  gap: 1.25rem;
}

.form-check {
    padding: 0 !important;
    text-align: center;
    margin: 30px 0;
  .form-check-content {
    display: flex;
    margin-bottom: 1.25rem;
    color: #10b981;
    font-weight: 600;
    align-items: center;
    gap: 0.25rem;
  }
  .btn-form {
    font-size: 20px;
  }
}

