.wrapper {
    position: relative;
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 10rem;
    padding: 4px 33px;

    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    display: inline-flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;

    border: 1px solid #fff;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -o-border-radius: 999px;
    -ms-border-radius: 999px;
    // outline: 2px solid var(--primary);
    // -webkit-outline: 2px solid var(--primary);
    transition: all 0.5s ease;
    background: transparent;
    // box-shadow: rgb(0 0 0 / 5%) 0 0 8px;


    + .wrapper {
        margin-left: 16px;
    }

    &:hover {
        // outline-offset: 4.5px;
        // -webkit-outline-offset: 4.5px;
        background-color: var(--primary);
        color: #000 !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .wrapper {
        padding: 4px 20px;
        margin-left: 10px;
    }
}
