.wrapper {
    position: relative;
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 10rem;
    padding: 4px 33px;
    border-radius: 999px;
    -webkit-border-radius: 999px;
    outline: 2px solid var(--primary);
    z-index: 0;
    transition: all .5s ease;
    background: transparent;
    border: 0;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    overflow: hidden;

    + .wrapper {
        margin-left: 16px;
    }

    &:hover {
        outline-offset: 4.5px;
        background-color: var(--primary);
        color: #000 !important;
    }
}

@media (min-width: 993px) and (max-width: 1200px) {
    .wrapper {
        padding: 4px 20px;
        margin-left: 10px;
    }
}
