.wrapper {
    position: relative;
    color: var(--primary);
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 8px 33px;
    border-radius: 999px;
    outline: 2.5px solid var(--primary);
    outline-offset: 3px;
    z-index: 0;
    transition: .4s;
    background: transparent;
    border: 0;

    + .wrapper {
        margin-left: 16px;
    }

    &:hover {
        outline-offset: 4.5px;
        background-color: var(--hover-color);
        color: #0E1741 !important;
    }
}
