.active{
    background-color: aqua;
    color: black;
}

.navbar-logo {
    width: 160px;
    height: 50px;
}

.menu {
    gap: 50px;
}

.nav-link {
    color: var(--primary) !important;
    font-size: 1.8rem !important;
    font-weight: 500 !important;
    transition: all .4s ease 0s;

    &:hover {
        color: aqua !important;
    }
}

.dropdown-menu {
    background-color: transparent !important;
    border: none !important; 

    .dropdown-item {
        color: var(--primary) !important; 
        font-size: 1.5rem;
        text-decoration: underline !important;
        transition: all .4s ease 0s;

        &:hover {
            background-color: transparent !important;
            color: aqua !important;
        }
    }
}

