.main-content {
    text-align: center;
}
.contact-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 50px;

    .content-heading {
        width: 70%;
    
        h1 {
            font-size: 6rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
}

.field {
    
}

.sub-heading-form {
    width: 100%;
}