footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: transparent;
    .club-info {
        font-size: 1.6rem;
        
        p {
            font-weight: 600;
            margin-bottom: 2px;
        }

        .icon-copyright {
            position: relative;
            width: 10px;
            height: 10px;
            margin: 0 3px;
            top: -3px;
        }
    }

    .club-media {
        .media {
            gap: 8px;
        }
    
        .languages {
            img {
                width: 40px;
                height: 20px;
            }
        }
    }
}