footer {
    width: 100%;
    .club-info {
        font-size: 1.6rem;
        
        p {
            font-weight: 600;
            margin-bottom: 2px;
        }

        .icon-copyright {
            position: relative;
            width: 10px;
            height: 10px;
            margin: 0 3px;
            top: -3px;
        }
    }

    .club-media {
        .media {
            gap: 8px;
        }
    
        .languages {
            img {
                width: 40px;
                height: 20px;
                transition: all .4s ease 0s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .header {
        width: 100%;
        padding: 6px 0;
    }

    .sticky {
        padding: 12px 0 0;
    }

    .toggle-menu {
        display: block;
    }

    .btn-sign-in {
        display: none;
        position: fixed !important;
        top: 30%;
        right: 23%;
    }

    .toggle-menu:checked ~ .collapse,
    .toggle-menu:checked ~ .btn-sign-in {
        display: block !important;
    }

    .menu {
        position: fixed;
        right: 0;
        width: 40%;
        height: 100vh;
        background-color: var(--primary-color);
        transition: 0.5s;
        gap: 16px;
        margin-top: 4px;

        .nav-item {
            padding: 0 12px;
        }
    }

    

}

@media (min-width: 993px) and (max-width: 1200px) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
}

@media (min-width: 577px) and (max-width: 767px) {

}

@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .club-info {
            margin-bottom: 12px;
        }
    }
}