footer {
    width: 100%;
    background-color: var(--primary-color);
    
    .club-info {
        font-size: 1.6rem;
        
        p {
            font-weight: 600;
            margin-bottom: 2px;
        }

        .icon-copyright {
            position: relative;
            width: 10px;
            height: 10px;
            margin: 0 3px;
            top: -3px;
        }
    }

    .club-media {
        .media {
            gap: 8px;
        }
    
        .languages {
            img {
                width: 40px;
                height: 20px;
                transition: all .4s ease 0s;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
}

@media (min-width: 993px) and (max-width: 1200px) {
    
}

@media (min-width: 768px) and (max-width: 992px) {
    
}

@media (min-width: 577px) and (max-width: 767px) {

}

@media screen and (max-width: 576px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;

        .club-info {
            margin-bottom: 12px;
        }
    }
}