.partners {
    margin-bottom: 100px;
}

.partners-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-justify:initial;
    margin: 150px 0;

    .content-heading {
        width: 70%;
    
        h1 {
            font-size: 6rem;
            font-weight: bold;
            margin-bottom: 30px;
        }
    }
}

.partners-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}
.rectangle-p {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 30%;
    padding: 24px 0;
    transition: ease-in .3s;

    &:hover {
        scale: 1.1;
        box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 4px, rgba(255, 255, 255, 0.3) 0px 7px 13px -3px, rgba(255, 255, 255, 0.2) 0px -3px 0px inset;
    }

    &:hover .circle-content-title {
        color: var(--hover-color);
    }
}
.circle-content-image-p {
    margin-top: 25px;
}

// responsive infomation include img
@media screen and (max-width: 992px) {
    .partners-header {
        .content-heading {
            width: 75%;
            h1 {
                font-size: 5.5rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .partners-header {
        .content-heading {
            width: 85%;
            h1 {
                font-size: 5.5rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .partners-header {
        .content-heading {
            width: 90%;
            h1 {
                font-size: 3.5rem;
            }

            p {
                font-size: 1.6rem;
            }
        }
    }

    .partners-list {
        flex-direction: column;
        align-items: center;

        .rectangle-p {
            padding: 0 24px;
            width: 80%;
        }
    }
}